.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: var(--primary);
    display: flex;
    height: 100px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: top 0.1s ease, opacity 0.1s ease; 
    opacity: 1; 
  }
  
  .nav-bar.hidden {
    top: -90px; 
    opacity: 0; 
  }

  .links {
    display: flex;
    background-color: var(--secundary-p);
    border-radius: 30px;
    height: 45px;
    margin-left: 220px;
  }
  
  .links a {
    color: var(--secundary-light);
    text-decoration: none;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 22px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .links a:hover {
    color: var(--primary);
  }
  
  .logo img {
    width: 300px;
    height: 90px;
    margin-right: -30px;
  }